= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }, remote: true) do |f|
  = f.hidden_field :follow_id, value: @user.id
  i#follow.mdi.mdi-account-check.bg-light.rounded-pill.p-2.unfollow-btn
    = f.submit 'フォロー中'