@import '~bootstrap/scss/bootstrap';
@import 'posts';

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.app-color-light {
  background-color: #d1c4e9;
}

.app-color-dark {
  background-color: #090422;
}

.border-app-color-dark {
  border-color: #090422;
}

.app-color-sub {
  background-color: #e6e6fa;
}

.resize-image {
  width: 100%;
}

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080;
  margin-left: 20px;
}

.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
}

.follow-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080;
  margin-left: 20px;
}

.unfollow-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #3399ff;
  margin-left: 20px;
}