@import '~bootstrap/scss/bootstrap';

* {
  font-family: "ヒラギノ角ゴシック", "游ゴシック", "Yu Gothic", "Noto Sans Japanese", "sans-serif";
  // outlineの装飾を消す
  &:focus {
    outline: none;
  }
}

// リンクの装飾を消す
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

// アプリのテーマカラー
$main-light: #d1c4e9;
$main-dark: #090422;
$sub-light: #e6e6fa;
$sub-dark: #060211;
$btn: #c1c1ff;

@mixin app-color($color) {
  background-color: $color;
}

.app-color-light {
  @include app-color($main-light);
}

.app-color-dark {
  @include app-color($main-dark);
}

.app-color-sub-light {
  @include app-color($sub-light);
}

.app-color-sub-dark {
  @include app-color($sub-dark);
}

.app-color-btn {
  @include app-color($btn);
}

// イメージをリサイズする
.resize-image {
  width: 100%;
}

// いいねボタン
.like-btn {
  font-size: 25px;
  color: #808080;
}

// いいね取り消しボタン
.unlike-btn {
  font-size: 25px;
  color: #e54747;
}

// pタグを90%地点で折り返す
.p-wrap-90 {
  width: 90%;
}

// ページネーションの装飾
.pagination>li>a {
  border: none;
  color: #090422;
}

.pagination>.active>a {
  background: #090422;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 30px;
}

// 下記v-appのデフォルトのmin-heightの影響でページによっては下部に大きく余白ができる為記述
.v-application--wrap {
  min-height: 0 !important;
}