@import '~bootstrap/scss/bootstrap';
@import 'posts';

// リンクの装飾を消す
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

// アプリのテーマカラー
.app-color-light {
  background-color: #d1c4e9;
}

.app-color-dark {
  background-color: #090422;
}

.app-color-sub {
  background-color: #e6e6fa;
}

.app-color-btn {
  background-color: #c1c1ff;
}

.border-app-color-dark {
  border-color: #090422;
}

// イメージをリサイズする
.resize-image {
  width: 100%;
}

// いいねボタン
.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080;
  margin-left: 20px;
}

// いいね取り消しボタン
.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
}

// フォローボタン
.follow-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080;
  margin-left: 20px;
}

// フォロー取り消しボタン
.unfollow-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #3399ff;
  margin-left: 20px;
}

// pタグを90%地点で折り返す
.p-wrap-90 {
  width: 90%;
}

// ページネーションの装飾
.pagination>li>a {
  border: none;
  color: #090422;
}

.pagination>.active>a {
  background: #090422;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 30px;
}